.register__wrapper {
    margin: 0 auto;
    padding: 48px;
    max-width: 1230px;
}

.register__heading {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.register__content {
    margin: 0 auto;
    width: 35%;
    text-align: center;
}

.register-form__group {
    margin-bottom: 10px;
}

.register-form__content input{
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
    height: 50px;
    border: 2px solid #969696;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 16px;
    appearance: none;
}

.register-form__button button {
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
    height: 50px;
    background-color: #214be0;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    appearance: none;
}

.login__link-text {
    margin: 16px 0 0 0;
    color: #7e7e7e;
}

.login__button-submit {
    text-decoration: none;
    color: #214be0;
}